body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #333;
  opacity: 0.7;
  z-index: -998;
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #333;
  opacity: 0.6;
}


.jumbotron {
  width : 80%;
  text-align: left;
  margin: auto;
  position: relative;
  overflow: hidden;
  background: transparent;
}

.jumbotron img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -999;
}

.jumbo-header {
  font-size: 5em;
}

.jumbotron h1, p{
  color: white;
}

.card {
  width: 30%;
}

.card p {
  color: black;
}

.card-img-container {
  width: 100%;
  height: 225px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.HomeCards-container {
  display: flex;
  flex-direction: column;
}

.HomeCards {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.footer {
  width: 100%;
  background-color: #333;
  color: #fff;
}

.footer-content {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  height: 100%;
  z-index: 200;
  text-align: left;

}

.contact-info h1 {
  font-size: 1.75em;
}

.contact-info p {
  font-size: 1.15em;
}


.nav-link {
  text-decoration: none;
  list-style: none;
  color: #fff;
  transition: ease-in 0.25s;
}

.nav-link:hover {
  color: aquamarine;
  text-decoration: none;
  list-style: none;
  text-underline: none;
}
a:hover {
  text-decoration: none;
}

.btn-primary {
  color: white;
  background-color: #3a6a34;
  border-color: #3a6a34;
  transition: ease-in 0.25s;
}

.btn-primary:hover {
  color: black;
  background-color: transparent;
  border-color: black;
}

.jumbo-btn {
  background-color: transparent;
  border-color: white;
  color: white;
  font-size: 1em;
}

.jumbo-btn:hover {
  background-color: white;
  color: black;
}

.slant-lower{
  width:100%;
  height:100px;
  fill: #333;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.slant-upper{
  width:100%;
  height:100px;
  fill: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.about {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.about-img {
  height: 100%;
  width: 100%;
  z-index: -999;
  transition: ease 0.5s;
}

.about-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-header {
  color: gold;
  z-index: 200;
}

.about-text {
  color: white;
  width: 60%;
  z-index: 200;
}

.accent {
  color: gold;
}

.service-container {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}

.service {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  height: 70vh;
  border: 2px solid #333;
  border-radius: 5px;
  overflow: hidden;
}

.service-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 100%;
  z-index: -999;
  transform: translateX(-150px);
}

.service-title {
  color: white;
  z-index: 1000;
  width: 90%;
  height: 10%;
  margin: auto;
  text-align: center;
  font-size: 30px;
}

.service-header {
  color: white;
  z-index: 1000;
  width: 90%;
  height: 10%;
  margin: auto;
  text-align: center;
  font-size: 30px;
}

.service-para {
  width: 90%;
  height: 75%;
  margin: 0 auto;
  text-align: left;
  font-size: 1.20em;
}

.service-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.service-content h1{
  text-align: left;
  width: 90%;
  margin: auto;
  font-size: 26px;
  padding-bottom: 25px;
}

.service-btn-container {
  width: 70%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.service-btn {
  width: 100%;
  margin: auto;
}

.service-list {
  color: white;
  width: 70%;
  height: 20%;
  margin: auto;
}

.service-list-item {
  font-size: 1.33em;
}

.panel-header {
  color: #333;
}

.panel-container {
  width: 80%;
  margin: auto;
  border: 2px solid #3a6a34;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.item-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.panel-item {
  margin: 15px;
}

.panel-item p {
  color: #3a6a34;
  font-size: 1.25em;
  width: 80%;
  margin: auto;
}

.bi {
  margin: 10px;
  height: 50px;
  width: 50px;
  color: #3a6a34;
}

.contact-label {
  color: white;
}

.errMsg {
  color: red;
}

.goodMsg {
  color: white;
  font-size: 24px;
}

.sneaky{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

Link {
  color: white;
}

nav {
  background-color: #333;
}

@media only screen and (min-width: 1440px) {
  .about-img {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    transform: translateY(-350px);
  }

  .about {
    height: 600px;
  }
}

@media only screen and (max-width: 1024px) {
  .service-container {
    flex-direction: column;
  }

  .service {
    width: 100%;
  }

  .panel-container {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {

  .HomeCards {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .about-text {
    width: 70%;
    font-size: 1em;
  }

  .slant-lower, .slant-upper {
    height: 50px;
  }

  .about-text {
    width: 80%;
  }

  .service-list {
    display: none;
  }

}

@media only screen and (max-width: 490px) {

  .jumbo-header {
    font-size: 4em;
  }

  #copyright {
    width: 25%;
  }

  .bi {
    margin: 10px;
    height: 50px;
    width: 50px;
    color: #3a6a34;
  }

  .panel-container {
    width: 90%;
  }

  .panel-item p {
    color: #3a6a34;
    font-size: 1em;
    width: 80%;
    margin: auto;
  }

  .slant-lower, .slant-upper {
    height: 25px;
  }

  .about-header {
    font-size: 2em;
  }

  .about-text {
    width: 95%;
  }

  .jumbotron {
    width: 90%;
  }

  .service-header {
    height: 15%;
  }

  .service-content {
    height: 75%;
  }

}